@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Oswald:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald','Cairo', sans-serif;

}

.title{
    width: 100%;
    text-align: center;
    margin-top: 80px;
    
}

.title h2 {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-size: 3.5em;
    margin-bottom: 0px;
    font-weight: bold;
    color: #363636;
    /* bottom: -20px; */
}

.title div{
    position: relative;
    width: 260px;
    height: 5px;
    background: #652f81;
    /* justify-content: center;
    align-items: center; */
    left: 50%;
    transform: translateX(-50%);
}

.title p {
    font-size: 1.2em;
    margin-bottom: 30px;
    font-weight: 500;
}

.title h2 ::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 50px;
    height: 1px;
    background: black;    
}

.adjust{
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 0 40px;
    padding-top: 80px;
    display: inline-block;
}

/* .project .contact {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin: 40px 0 ;
    margin-bottom: 100px;
} */

.project .contact{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 40px 0;
    margin-bottom: 100px;
}

.project .contact .workBx {
    position: relative;
    width: 650px;
    height: 380px;
    overflow: hidden;
    border: 1px solid #652f81;
    border-radius: 16px;
    margin: 30px;

}

/* .project .contact .workBx {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border: 1px solid #652f81;
    border-radius: 16px;
    
} */

.project .contact .workBx .imgBx{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    transition: 0.5s ease-in-out ;
}

/* .project .contact .workBx:hover .imgBx{
    transform: translateY(-100%);
} */

.project .contact .workBx .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project .contact .workBx .textBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #652f81; */
    /* background: transparent; */
    background-image: linear-gradient(to right, #652f81, rgb(94, 67, 156));
    opacity: 0.9;
    /* backdrop-filter: blur(10px); */
    /* background: #363636; */
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: 0.5s ease-in-out ;
}

.project .contact .workBx:hover .textBx{
    transform: translateY(0);
}

.project .contact .workBx .textBx h3{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
}

/* .social{
    position: absolute;
    left: 50%;
    bottom: 20px;
    display: flex;
    transform: translateX(-50%);
} */

@media (max-width: 461px){
    .title h2 {
        font-size: 2.5em;
    }

    .project .contact .workBx {
        width: 100%;
        margin: 5px;
        padding: 5px;
    }

    .project .contact{
        padding: 5px;
    }
}