@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Oswald:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo','Oswald', sans-serif;

}

body{
    background-color: rgb(255, 255, 255);
    margin: 0;
}

/* ////////////////////////////////////////////////// */
/* Start Nav bar */

header{
    position: absolute;
    z-index: 10;
    width: 100%;
}

.navbar{
    padding: 20px 0;
}

.nav-item{
    font-weight: 750;
    color: #363636;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link {
    /* background: #652f81; */
    color: #652f81;
}

.navbar-light .navbar-nav .nav-item .nav-link{
    color: #363636;
    padding: 5px 15px;
}


.navbar-light .navbar-toggler{
    border: none;
    color: #fff;
    border: 2px solid #8f8f8f;
    border-radius: 0;
    outline: none;
}

.navbar-collapse{
    background: #fff;
    padding-bottom: 20px;
}


#resumeID{
    position: relative;
    float: center;
    text-align: center;
    width: 100%;
    background-color: #363636;
    color: #fff;
    border-radius: 10px; 
    padding: 8px;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 30px ;
}

#resumeID:hover{
    background-color: #652f81;
    
}

/* End Nav bar */
/* //////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////// */
/* Start body */

.banner{
    position: relative;
    background: url(../../Images/baner3.png);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 200px;
}

.banner h2 {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 4.8em;
    font-weight: bold;
    color: #652f81;
    text-transform: uppercase;
    font-family: 'Oswald';
}

.banner p{
    margin: 1em 0 0;
    padding: 0px;
    font-size: 1.5em;
    font-family:'Oswald' ;
    font-weight: 400;
    line-height: 1.5em;
    color: #797979;
    text-transform: capitalize;
    text-rendering: geometricPrecision;
    
}

#AboutID{
    display: inline-block;
    margin: 1em 0 0;
    background-color: #652f81;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-weight: 500;
    padding: 12px 15px;
    width: 200px;
    font-size: 1.5em;
    border-radius: 10px;
}

#AboutID:hover{
    color: #fff;
    background-color: #5a2774;
}


@media (max-width: 1200px){
    .banner{
        padding: 200px 0;
    }
    .banner h2{
        font-size: 2.8em;
    }
    .banner p{
        font-size: 1.0em;
    }

}

/* @media (min-width: 1600px){
    .banner{
        padding: 200px 0;
    }
    .banner h2{
        font-size: 5.0em;  
    }
    .banner p{
        font-size: 2.5em;  
    }
} */


/* End body */
/* //////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////// */
/* Start social media icons */

.social{
    position: absolute;
    left: 50%;
    bottom: 20px;
    display: flex;
    transform: translateX(-50%);
}

.social li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}

.social li img {
    max-width: 35px;
}

.social li img:hover {
    max-width: 50px;
    margin-bottom: -20px;
}

/* #faceID:hover{
    max-width: 50px;  
    margin-bottom: -20px;
} */

/* End social media icons */
/* //////////////////////////////////////////////////// */
